doctype html
html
  head
    title Pebble Settings 
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-min.css')
    link(rel='stylesheet', href='static/css/style.css')
    link(rel='shortcut icon', href='static/img/favicon.png', type='image/png')
    
  body
    
    
    input.retrieve-station(type='text', name='from')
    
    button#save
      span Save configuration file
    
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/reqwest/1.1.6/reqwest.min.js')
    //-script(src='//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js')
    script(src='static/js/main.js')
